@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@600;700&family=Roboto:wght@700&display=swap');
:root {
  --primary-color: white;
  --second-color: #fa4a0c;
  --primary-font-size: 16px;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}

.cont-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: inline-block;
  margin-top: 49.5px;
  margin-bottom: 27.27px;
  margin-left: 90px;
}
.menu {
  margin-right: 69px;
}
.btn-container {
  margin-top: 54px;
}
.btn-1 {
  color: white;
  height: 68px;
  width: 236px;
  border-radius: 30px;
  padding: 16px 0px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
  background: var(--second-color);
  border: none;
  margin-right: 35px;
}
.btn-2 {
  color: white;
  height: 68px;
  width: 236px;
  border-radius: 30px;
  padding: 16px 0px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
  background: none;
  border: 1px solid white;
}
.btn-4 {
  color: white;
  height: 68px;
  width: 236px;
  border-radius: 10px;
  padding: 16px 0px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
  background: var(--second-color);
  border: 1px solid var(--second-color);
  margin-right: 35px;
}
.btn-5 {
  color: white;
  height: 68px;
  width: 236px;
  border-radius: 10px;
  padding: 16px 0px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
  background: none;
  border: 1px solid white;
}
.rectangle{
  display: flex;
  justify-content: center;
}
.rectangle_left{
  position: relative;
  top: -170px; 
}
.rectangle_right{
  position: relative;
  left: -35px; top: -60px;
}
a {
  text-decoration: none;
}
.foodApp {
  background-image: url('../assets/images/back1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 80px 0 178px;
}
.foodApp h3 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-align: center;
}
.foodApp h1 {
  font-family: Poppins;
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-align: center;
}
.foodApp h4 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 15px;
}
.line {
  width: 884px;
  size: 3px;
}
.title {
  margin-top: 56px;
  font-family: Poppins;
  font-size: 44px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-align: center;
}
.mobile-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 113px;
  margin-bottom: 50px;
}
.mobile-img-up {
  margin-left: 174px;
}
.mobile-info {
  margin: 0 200px;
}
.mobile-down {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 113px;
  margin-bottom: 50px;
}
.mobile-img-down {
  margin-top: 108px;
  margin-right: 197px;
  margin-bottom: 185px;
}
.mobile-info h3 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #fa4a0c;
}
.mobile-info h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: left;
}
.mobile-info h4 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #737373;
}
.orderNow {
  background-image: url('../assets/images/back2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 146.9px 0 131.1px;
}
.orderNow h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
}
.orderNow h4 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.2px;
  text-align: center;
}
.footer-logo {
  display: inline-block;
  margin-top: 53px;
  margin-bottom: 15px;
  margin-left: 186px;
}
.socialNetwork {
  display: inline-block;
  margin-top: 90px;
  margin-bottom: 53px;
  margin-right: 30px;
}
.copywright {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1px;
  margin-right: 126px;
  color: #5c5c5c;
}
.mind {
  position: absolute;
  visibility: hidden;
}
@media (max-width: 390px) {
  .header-logo {
    margin-top: 17px;
    margin-left: 25px;
  }
  .menu {
    margin-right: 48px;
  }
  .btn_container {
    margin-top: 50px;
  }
  .button {
  }
  .btn-1 {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .btn-2 {
    border: 1px solid #fa4a0c;
  }
  .btn-2 > a {
    color: #fa4a0c;
  }
  .scale_mobile_pic{
    width: 200px;
  }
  .rectangle_left{
    margin-left: 30px;
    margin-top: 30px;
  }
  .btn-4 {
    padding: 12px 0px;
    height: 64px;
    width: 137px;
    margin-right: 10px;
  }
  .btn-5 {
    padding: 12px 0px;
    height: 64px;
    width: 180px;
  }
  .foodApp {
    background: #fafafa;
  }
  .foodApp > h3 {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
  }
  .foodApp > h1 {
    font-family: Montserrat;
    font-size: 36px;
    line-height: 42.5px;
    color: #252b42;
    margin: 0 20px ;
  }
  .foodApp > h4 {
    color: #737373;
  }
  .title {
    font-family: Montserrat;
    font-size: 24px;
  }
  .line {
    width: 100%;
  }
  .mobile-up {
    flex-direction: column-reverse;
  }
  .mobile-info {
    margin: 37.5px;
  }
  .mobile-img-up {
    margin: 50px 0 10px 0;
  }
  .mobile-down {
    flex-direction: column-reverse;
  }
  .mobile-img-down {
    margin: 50px 0 10px 0;
  }
  .mobile-info h3 {
    margin-bottom: 40px;
    text-align: center;
  }
  .mobile-info h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  .mobile-info h4 {
    text-align: center;
  }
  .orderNow {
    background: #252b42;
  }
  .orderNow > h4{
    margin: 0 20px;
  }
  .footer-logo {
    position: absolute;
    visibility: hidden;
    margin: 0px;
  }
  .socialNetwork {
    margin-top: 67px;
    margin-bottom: 78px;
  }
  .copywright {
    position: absolute;
    visibility: hidden;
  }
  .activiti {
    margin-left: 110px;
  }
  .mind {
    visibility: visible;
    position: absolute;
    right: 18%;
    margin-top: 80px;
  }
}
